body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 0;
  background-color: #7952b3;
  position: sticky;
  top: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  justify-content: start;
  align-items: center;
  padding: 0 12px;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.navbar ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  padding: 8px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar ul.list li:first-child a {
  color: #fff;
  font-weight: 600;
}
.navbar .list {
  flex-grow: 1;
  padding: 0;
}
.navbar .logo {
  margin-right: 0.5rem;
}
.navbar .logo svg {
  margin-top: 0.25rem;
  color: #fff;
}
.navbar .btn {
  margin-left: 16px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #ffe484;
  border-radius: .25rem;  
  padding: .375rem .75rem;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.5;
  color: #ffe484;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  transition: all .15s;
}
.navbar .btn:hover {
  background-color: #ffe484;
  cursor: pointer;
  color: #212529;
}
.navbar .navbar-toggler {
  width: 32;
  height: 32;
  fill: currentcolor;
  color: rgba(255,255,255,.55);
  border-color: rgba(255,255,255,.0);
  border-radius: .25rem;
  background-color: transparent;
  vertical-align: middle;
  line-height: 1;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .navbar ul, .btn {
    display: none;
  }
  .navbar .navbar-toggler {
    display: inline-block;
  }
  .navbar .logo-wrapper {
    flex: 1 0 0;
  }
}




/* @media (max-width: 841px) {
  body {
    background-color: steelblue;
  }
}
@media (max-width: 768px), (min-width: 900px) {
  body {
    background-color: springgreen;
  }
} */

/* .container {
  width: 980px;
  margin: 0 auto; 
  padding: .5rem;
} 
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  font-size: 17px;
  padding: 0 .5rem;
}
.col {
  flex: 1 0 0;

}
.col-auto {
  flex: 0 0 auto;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.3333333%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-11 {
  flex: 0 0 96.66666667%;
}
.col-12 {
  flex: 0 0 100%;
} */

.grid-example {
  display: flex;
  flex-wrap: wrap;
}
/* Responsive */
.grid-example div  {
  padding: 0.5rem;
  flex: 1 0 240px;
}

/* Adaptive
@media (max-width: 900px) {
  .grid-example div {
    flex: 0 0 33.3333333%;
  }
}
@media (max-width: 780px) {
  .grid-example div {
    flex: 0 0 50%;
  }
}
@media (max-width: 565px) {
  .grid-example div {
    flex: 0 0 100%;
  }
} */

.grid-example-2 {
  display: flex;
  flex-wrap: wrap;
}
.grid-example-2 div {
  padding: 0.5rem;
  flex: 0 0 100%;
}

@media (min-width: 565px) {
  .grid-example-2 div {
    flex: 0 0 50%;
  }
}
@media (min-width: 780px) {
  .grid-example-2 div {
    flex: 0 0 33.3333333%;
  }
}
@media (min-width: 900px) {
  .grid-example-2 div {
    flex: 0 0 25%;
  }
}

article {
  padding: 0.5rem;
}
article img {
  padding: 0.3rem;
  border: 1px solid lightblue;
  width: 350px;
  margin: 0.5rem;
}
img.left {
  float: right;
  margin-left: 10px;
}
img.right {
  float: left;
  margin-right: 10px;
}
article p {
  font-size: 1.3rem;
}

@media (max-width: 900px) {
  article img {
    width: 300px;
  }
  article p {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  article img {
    width: 250px;
  }
  article p {
    font-size: 1.1rem;
  }
}
@media (max-width: 565px) {
  article img {
    width: 100%;
  }
  article p {
    font-size: 1rem;
  }
}
